body {
  background-color: #bde0fe; 
  font-family: Arial, sans-serif;
  text-align: center;
  color: #222;
  margin: 0;
  padding: 20px;
}

h1 {
  color: #003366;
  font-size: 2.2em;
  margin-bottom: 10px;
}

h2 {
  color: #004c99;
  font-size: 1.6em;
  margin-top: 0;
}

ul {
  list-style-position: inside; 
  display: inline-block;       
  text-align: left;            
  padding: 0;
  margin: 30px auto;
}

li {
  margin-bottom: 35px;
}

img {
  display: block;
  margin: 10px auto;
  border-radius: 10px;
  max-width: 500px;
}

a {
  color: #004c99;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}